.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-login {
  color: #09d3ac;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  background: initial;
  border: 2px solid #09d3ac;
  box-shadow: 0 0 8px;
}
